body {
    margin: 0;
    background: rgb(5, 107, 250);
}

section {
    position: relative;
    height: 100%;
    overflow: hidden;
}

canvas {
    position: absolute;
    z-index: -1;
}

.telem {
    font-family: monospace;
    background-color: rgb(34, 34, 34);
    display:inline-flex;
    position: absolute;
    border-radius: 10px;    
    margin-left: 1em;
    margin-top: 1em;
    user-select: none;
    padding: 1em;
    flex-wrap: wrap;
    bottom: -2em;
}

.telem span {
    color: rgb(255, 255, 255);
    padding-bottom: 2em;
}
.value {
    margin-right: 2em;
}

.name {
    margin-right: 0.8em;
}

.heading_arrow {
    margin-right: 0.5em;
    margin-top: -1.7em;
    transform: scale(0.5);
}

.filter-pink{
    filter: invert(84%) sepia(56%) saturate(1802%) hue-rotate(300deg) brightness(99%) contrast(107%);
}

.filter-blue{
    filter: invert(77%) sepia(60%) saturate(1525%) hue-rotate(181deg) brightness(109%) contrast(101%);
}